header.main {
    // &::before {
    //     content: "";
    //     display: block;
    //     height: 25px;
    //     background-color: hsl(29, 22%, 28%);
    //     border-bottom: solid 1px #fff;
    //     position: absolute;
    //     top:0;
    //     left: 0;
    //     width: 100%;
    // }

    background-color: hsl(42, 100%, 50%);
    background-image: url('/assets/theme/the-history-of-seo-1x5.png');
    background-repeat: repeat-x;
    background-position: top center;
    // background-position: 50px center;
    // padding-top: 26px;
    // background: rgb(252,76,11);
    // background: linear-gradient(180deg, rgba(252,76,11,1) 0%, rgba(255,132,0,1) 5%, rgba(255,178,0,1) 100%);

    min-height: 120px;

    .container {
        display: flex;
        position: relative;
        min-height: 120px;
        &::after {
            content: "";
            background-image: var(--bg-image);
            position: absolute;
            top:26px;
            //left: 50%;
            left:0;
            //transform: translateX(-50%);
            width: 900px;
            height: 94px;
            z-index: 1;
            display: block;
        }
    }

    @media screen and (max-width: 900px) {
        .container {
            &::after {
                width: 100%;
            }
        }
    }

    .logo {
        position: absolute;
        top: 40px;
        // left: 0;
        left: 70px;
        z-index: 2;
    }
}

main.main {
    background-color: #fff;
    border-top: solid 1px #fff;
    box-shadow: inset 0 30px 30px -30px rgba(0,0,0,0.25);
    //padding: 1rem 0 2rem;
}

footer.main {
    background-color: hsl(42, 100%, 50%);
    color: #000;
    padding: 2rem 0;
    a {
        color: #000;
        text-decoration: underline;
    }
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.pull-left {
    float: left;
    
    img:is(&) {
        margin: 0 0.875rem 0 0;
    }
}

@media only screen and (max-width: 991px) {
    .content-cols .col-2 {
        display: none;
    }
}
@media only screen and (min-width: 992px) {
    .content-cols {
        display: flex;
        gap: 5%;
        .col-1 {
            padding: 1rem 0 2rem;
            width: 78%;
        }
        .col-2 {
            background-color: #e7d8c8;
            box-shadow: inset 6px 0 2px -4px rgba(0,0,0,0.15),
            inset -6px 0 2px -4px rgba(0,0,0,0.15);
            min-width: 205px;
            position: relative;
            &::before,
            &::after {
                content: "";
                background-color: #ffb200;
                width: 100%;
                height: 4px;
                position: absolute;
                left: 0;
            }
            &::before {
                top: -1px;
            }
            &::after {
                bottom: -1px;
            }
            .brown {
                display: flex;
                flex-direction: row;
                height: calc(100% - 205px);
                .left {
                    width: 50%;
                    display: none;
                }
                .right {
                    width: 100%;
                    margin: 1rem;
                    background-color: #564637;
                    border: solid 2px #e4e0dc;
                    box-shadow: 0 0 8px 4px rgba(0,0,0,0.15);
                }
            }
        }
        .img-wrapper {
            font-size: 0;
            overflow: hidden;
            width: 205px;
            position: relative;
            &::after {
                content: "";
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 20px solid transparent;
                border-left: 20px solid #fff;
                filter: drop-shadow(0 0 4px rgba(0,0,0,0.25));
                // width: 25px;
                // height: 30px;
                // background-color: #fff;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                left: 0;
                z-index: 5;
            }
        }
        &.cols-home {
            .col-1 {
                width: 61%;
            }
            .col-2 {
                min-width: 400px;
                .brown {
                    .left {
                        display: block;
                        margin: 1rem 0 0 .5rem;
                        width: 50%;
                    }
                    .right {
                        width: 50%;
                    }
                }
            }
            .img-wrapper {
                width: 400px;
            }
        }
        
    }
}