$base-size: 1rem;

$size-map: (
    "0": 0,
    "1": $base-size * 0.25,
    "2": $base-size * 0.5,
    "3": $base-size * 1,
    "4": $base-size * 1.25,
    "5": $base-size * 2,
    "6": $base-size * 3,
);


// Spacing

@each $key, $value in $size-map {

    $sides: inline, inline-start, inline-end, block, block-start, block-end;

    .p {
        &-#{$key} {
            padding: $value;
        }

        @each $side in $sides {
            &-#{$side}-#{$key} {
                padding-#{$side}: $value;
            }
        }
    }

    .m {
        &-#{$key} {
            margin: $value;
        }

        @each $side in $sides {
            &-#{$side}-#{$key} {
                margin-#{$side}: $value;
            }
        }
    }

    // .p-#{$key} {
    //     padding: $value;
    // }
    // .pl-#{$key} {
    //     padding-left: $value;
    // }
    // .pr-#{$key} {
    //     padding-right: $value;
    // }
    // .pt-#{$key} {
    //     padding-top: $value;
    // }
    // .pb-#{$key} {
    //     padding-bottom: $value;
    // }

    // .m-#{$key} {
    //     margin: $value;
    // }
    // .ml-#{$key} {
    //     margin-left: $value;
    // }
    // .mr-#{$key} {
    //     margin-right: $value;
    // }
    // .mt-#{$key} {
    //     margin-top: $value;
    // }
    // .mb-#{$key} {
    //     margin-bottom: $value;
    // }

}

.btn {
    border-radius: 0.25rem;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;

    &.block {
        display: block;
    }

    &-primary {
        --bg-color: 42, 100%, 50%;
        --border-color: 42, 100%, 50%;
        --bg-opacity: 1;
        background-color: hsla(var(--bg-color), var(--bg-opacity));
        border: solid 1px hsl(var(--border-color));
        color: #000;
        &:is(:hover, :active) {
            --bg-color: 35, 100%, 50%;
        }
    }

    &-secondary {
        --bg-color: 29, 14%, 42%;
        --border-color: 29, 14%, 65%;
        --bg-opacity: 1;
        background-color: hsla(var(--bg-color), var(--bg-opacity));
        border: solid 1px hsl(var(--border-color));
        color: #fff;
    }
}