---
import BaseLayout from '../layouts/BaseLayout.astro';
const setup = {
    title: "404 - Page Not Found"
};
---
<BaseLayout setup={setup}>
    <h1>404 - page not found</h1>
    <p>Sorry, we could not find the page you're looking for.</p>
</BaseLayout>
