---
import BaseLayout from '../layouts/BaseLayout.astro';
const propsObj = {
	title: 'The History of SEO &#8211; About the People and Places in Time',
	description: 'The History of SEO is about people, places, and timeline around the pioneers of the Search Engine Optimization industry.',
	keywords: 'Search Engine Optimization Pioneers, Search Engine Optimization Industry, Search Engine Optimization History, The History of SEO, Search Engine Optimization, The SEO Community, Search Engine Optimization, History of SEO, About SEO Industry, About SEO People, About SEO Pioneers, SEO Timeline,  SEO Interviews, About SEO, SEO Places',
	breadBrumbPaths: [{name: 'About'}]
}
---

<BaseLayout setup={propsObj}>
	<h1>Spotlighting the People Who are Shaping the Industry</h1>
	<p >Welcome to "The History of SEO (Search Engine Optimization)." History is about people, places, and time. Our mission: is to introduce you to the pioneers, practitioners, and the timeline surrounding their activity in the world of SEO through in-depth, yet personal, interviews.<br />
	<br />
	From what we can tell, SEO got started about 1995, so the industry is still young. There have been a few pinnacles and the road ahead is fast moving and full of passing lanes, road signs, and potholes. We hope that this site can be a road map helping you understand the industry’s unique growth and the people who have made a difference.<br />
	<br />
	More interviews are on their way, so let us know whether there’s someone who you want to hear from who has not yet been included. Or, if you have been active in the SEO community and would like to be considered for an interview, please contact us at <a href="mailto:interview@thehistoryofseo.com">interview@thehistoryofseo.com</a>.<br />
	<br />
	As a final note, there are many nice people in the SEO community, and they are fun to work with—and party with. <br />
	<br />
	Enjoy!<br />
	<br />
	Mark Knowles<br />
	mark@thehistoryofseo.com<br />
	(541)728-3035<br />
	<br />
	Also president and CEO of Pixelsilk: mark.knowles@pixelsilk.com.</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>&nbsp;</p>
	<p>Please contact us at <a href="mailto:interview@thehistoryofseo.com">interview@thehistoryofseo.com</a> and we will arrange a good time to connect. Until then, enjoy.<br />
	<br />
	Thank you for your interest, <br />
	<br />
	Mark Knowles<br />
	mark@thehistoryofseo.com<br />
	(541)728-3035</p>
	
</BaseLayout>
	