---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

// Interview Data
let interviewData = await getCollection('interviews');
// Sort by 'sortorder' field
if (interviewData.length) {
    interviewData = interviewData.sort((a, b) => {
        return (a.data.sortOrder < b.data.sortOrder) ? -1 : 1;
    }).filter(d => d.data.sortOrder !== 0);
}

// Industry Data
let industryData = await getCollection('articles');

// Sort by 'sortorder' field
if (industryData.length) {
    industryData = industryData.sort((a, b) => {
        return (a.data.sortOrder < b.data.sortOrder) ? -1 : 1;
    }).filter(d => d.data.sortOrder !== 0);
}

const setup = {
    title: "Site Map",
    breadBrumbPaths: [{name: 'Site Map'}]
};
---
<BaseLayout setup={setup}>
    <h1>The History of SEO Site Map</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/seo-interviews/">The Interviews</a>
            {interviewData && (
            <ul>
                {interviewData.map(page => (
                    <li>
                        <a href={`/seo-interviews/${page.slug}/`}>{ page.data.title }</a>
                        <ul>
                            <li><a href={`/seo-interviews/${page.slug}/interview/`}>Interview</a></li>
                        </ul>
                    </li>
                ))}
            </ul>
            )}
        </li>
        <li>
            <a href="/the-industry/">The Industry</a>
            {industryData && (
            <ul>
                {industryData.map(page => (
                    <li><a href={`/the-industry/${page.slug}/`}>{ page.data.title }</a></li>
                ))}
            </ul>
            )}
        </li>
        <li><a href="/about/">About</a></li>
    </ul>
</BaseLayout>
