---
import BaseLayout from '../layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

// Interview Data
let interviewData = (await getCollection('interviews'))
    .sort((a, b) => a.data.sortOrder.valueOf() - b.data.sortOrder.valueOf());

// Industry Data
let industryData = (await getCollection('articles'))
    .sort((a, b) => a.data.sortOrder.valueOf() - b.data.sortOrder.valueOf());

const setup = {
    title: "Site Map",
    breadBrumbPaths: [{name: 'Site Map'}]
};
---
<BaseLayout setup={setup}>
    <h1>The History of SEO Site Map</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li>
            <a href="/seo-interviews/">The Interviews</a>
            {interviewData && (
            <ul>
                {interviewData.map(page => (
                    <li>
                        <a href={`/seo-interviews/${page.id}/`}>{ page.data.title }</a>
                        <ul>
                            <li><a href={`/seo-interviews/${page.id}/interview/`}>Interview</a></li>
                        </ul>
                    </li>
                ))}
            </ul>
            )}
        </li>
        <li>
            <a href="/the-industry/">The Industry</a>
            {industryData && (
            <ul>
                {industryData.map(page => (
                    <li><a href={`/the-industry/${page.id}/`}>{ page.data.title }</a></li>
                ))}
            </ul>
            )}
        </li>
        <li><a href="/about/">About</a></li>
    </ul>
</BaseLayout>
