---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
    let data = await getCollection('articles');
    return data.filter(d => d.data.sortOrder !== 0).map(item => ({
        params: { slug: item.id }, props: { item }
     }) )
}

const { item } = Astro.props;
const { Content } = await render(item);

const propsObj = {
	title: item.data.title,
    description: item.data.metaDescription ?? '',
    keywords: item.data.metaKeywords ?? '',
    breadBrumbPaths: [
        {name: 'The Industry', path: 'the-industry/'},
        {name: item.data.title, path: 'detail'}
    ]
}

---
<BaseLayout setup={propsObj} title={item.data.title}>
    <article>
        <header>
            <h1>{item.data.title}</h1>
        </header>

        <Content />
        
        <a href="/the-industry/" class="btn btn-primary m-block-start-3">Back to Articles</a>

    </article>
</BaseLayout>