---
import BaseLayout from '../../layouts/BaseLayout.astro';

export async function getStaticPaths() {
    let data = await Astro.glob('../../data/industry-articles/*.md');
    
    return data.filter(d => d.frontmatter.sortorder !== 0).map(item => {
        return {
            params: {slug: item.frontmatter.slug },
            props: { item }
        }
    });
}

const { item } = Astro.props;
const title = item.frontmatter.title;
const propsObj = {
	title: item.frontmatter.title,
    metaDescription: item.frontmatter.metaDescription ?? '',
    metaKeywords: item.frontmatter.metaKeywords ?? '',
    breadBrumbPaths: [
        {name: 'The Industry', path: 'the-industry/'},
        {name: item.frontmatter.title, path: 'detail'}
    ]
}

---
<BaseLayout setup={propsObj} title={title}>
    <article>
        <header>
            <h1>{item.frontmatter.title}</h1>
        </header>

        <item.Content />
        
        <a href="/the-industry/" class="btn btn-primary m-block-start-3">Back to Articles</a>

    </article>
</BaseLayout>