---
export interface Props {
    link: string;
    altText?: string;
    extraCss?: string;
    ariaLabel?: string;
}
const { 
    link, 
    altText, 
    extraCss,
    ariaLabel
} = Astro.props;
const cssClass = `action-button${(extraCss !== undefined) ? ` ${extraCss}` : ''}`;
---
<style lang="scss">
    .action-button {
        font-weight: bold;
        display: inline-block;
        margin-right: 1rem;
        text-decoration: none;
        img {
            display: inline-block;
            vertical-align: middle;
        }
        @media only screen and (max-width: 992px) {
            & {
                padding: .5rem;
            }
        }
    }
</style>
<a href={link} class={cssClass} aria-label={ariaLabel}>
    <img 
        src="/assets/theme/action-button.png" 
        width="24" 
        height="25" 
        alt={altText ?? ''}
        title={altText ?? ''} />
    <slot />
</a>