---

---

<footer class="main">
    <div class="container">
        <p>Copyright 2008 - {new Date().getFullYear()} The History of SEO&nbsp;&nbsp;<a href="mailto:info@thehistoryofseo.com">Contact</a>&nbsp;|&nbsp;<a href="/site-map/">Site Map</a></p>
    </div>
</footer>