---
import Navigation from './Navigation.astro';
import { Image, getImage } from 'astro:assets';
import logoImage from '../images/theme/the-history-of-seo-logo-white.png';

const { src } = await getImage({
	src: import('../images/theme/history-timeline.jpg'),
	alt: '',
	quality: 70,
	format: 'webp'
});

---

<header class="main">
    <div class="container" style={{'--bg-image': `url('${src}')`}}>
        <a href="/" class="logo">
            <Image src={logoImage} width={200} height={33} alt="The History of SEO" />
        </a>
        <Navigation />
    </div>
</header>