---
import Navigation from './Navigation.astro';
import { getImage } from '@astrojs/image';

const { src } = await getImage({
	src: import('../images/theme/history-timeline.jpg'),
	alt: '',
	quality: 70,
	format: 'webp'
});

---

<header class="main">
    <div class="container" style={{'--bg-image': `url('${src}')`}}>
        <a href="/" class="logo"><img src="/assets/theme/the-history-of-seo-logo-white.png" width="200" height="33" alt="The History of SEO" /></a>
        <Navigation />
    </div>
</header>