---
import Navigation from './Navigation.astro';

---

<header class="main">
    <div class="container">
        <a href="/" class="logo"><img src="/assets/theme/the-history-of-seo-logo.gif" width="207" height="30" alt="The History of SEO" /></a>
        <Navigation />
    </div>
</header>