---
import Navigation from './Navigation.astro';

---

<header class="main">
    <div class="container">
        <a href="/" class="logo"><img src="/assets/theme/the-history-of-seo-logo-white.png" width="200" width="33" alt="The History of SEO" /></a>
        <Navigation />
    </div>
</header>