---

const menuItems = [
    {"name": "Home", "url": "/"},
    {"name": "The Interviews", "url": "/seo-interviews"},
    {"name": "The Industry", "url": "/the-industry"},
    {"name": "About", "url": "/about"}
];

function isCurrentParent(url) {
    const path = Astro.request.url.pathname;
    if (url === '/' && path === '/') {
        return true;
    }
    else if (url !== '/' && path.indexOf(url) > -1) {
        return true;
    }
    return false;
}
---

<style lang="scss">
    @media only screen and (max-width: 675px) {
        .nav-wrapper {
            position: absolute;
            top:0;
            left:0;
            right:0;
            z-index: 10;
            button {
                --bg-color: 35, 100%, 50%;
                --text-color: 0, 0%, 100%;
                --font-size: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                top: 1rem;
                right: 1rem;
                width: 65px;
                height: 65px;
                font-size: var(--font-size);
                background-color: hsl(var(--bg-color));
                color: hsl(var(--text-color));
                border: solid 1px #fff;
                cursor: pointer;
                
                &[data-open="true"] {
                    box-shadow: 0 0 4px rgba(0,0,0,0.25);
                    // --bg-color: 45, 100%, 50%;
                    // --text-color: 0, 0%, 0%;
                    --font-size: 3rem;
                    span.burger {
                        display: none;
                    }
                }
                &[data-open="false"] {
                    span.times {
                        display: none;
                    }
                }
            }
        }
        nav[aria-expanded="true"] {
            display: block;
            
        }
        nav[aria-expanded="false"] {
            display: none;
        }

        nav {
            
            ul {
                background-color: #7b6b5c;
                margin: 0;
                padding: 2rem 0;
                list-style: none;
                text-align: center;
            }
            a {
                color: #fff;
                display: block;
                font-size: 2rem;
                padding: 1rem;
                &.current {
                    font-weight: bold;
                }
            }
        }
    }

    @media only screen and (min-width: 676px) {
        .nav-wrapper {
            button {
                display: none;
            }
        }
        nav {
            position: absolute;
            bottom: 0.5rem;
            left: 1rem;
            z-index: 2;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
                gap: 1.5rem;
                display: flex;
            }

            a {
                color: #333;
                font-size: 1.25rem;
                text-decoration: none;
                &.current {
                    font-weight: bold;
                }
            }
        }
    }
    
</style>

<div class="nav-wrapper">
    <button data-open="false">
        <span class="burger">&#9776;</span>
        <span class="times">&times;</span>
    </button>
    <nav aria-expanded="false">
        <ul>
        {menuItems && menuItems.map(menu => (
            <li><a class={isCurrentParent(menu.url) ? 'current' : ''} href={`${menu.url}${(menu.url !== '/' ? '/' : '')}`}>{menu.name}</a></li>
        ))}
        </ul>
    </nav>
</div>
<script>
    const menuIcon = document.querySelector('.nav-wrapper > button');
    const menu = document.querySelector('.nav-wrapper > nav');
    
    menuIcon.addEventListener('click', () => {
        const expanded = (menu.getAttribute('aria-expanded')) === 'true' ? true : false;
        const newValue = !expanded;
        menuIcon.dataset.open = `${newValue}`;
        menu.setAttribute('aria-expanded', newValue);
    });
</script>