---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BreadCrumb from '../components/BreadCrumb.astro';
import Image from '../components/Image.astro';
import '../styles/main.scss';
const { setup } = Astro.props;
const title = `ASTRO: ${setup.title} | The History of SEO` ?? 'Welcome!';
const breadCrumbLinks = setup.breadBrumbPaths ?? null;
const isHomePage = (Astro.request.url.pathname === '/') ? true : false;
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
	<meta name="description" content={setup.metaDescription ?? title} />
	{setup.metaKeywords && setup.metaKeywords !== '' && (
		<meta name="keywords" content={setup.metaKeywords ?? ''} />
	)}
	
	<link rel="canonical" href={Astro.request.canonicalURL} />
</head>

<body>
	<Header />

	<main class="main">
		<div class="container">
			<div class={`content-cols${(isHomePage) ? ' cols-home' : ''}`}>
				<div class="col-1">
					{breadCrumbLinks && (
						<BreadCrumb paths={breadCrumbLinks} />
					)}
					<slot />
				</div>
				<div class="col-2">
					<div class="img-wrapper">
						<Image src="generic-graphic.jpg" width="400" height="200" />
					</div>
					<div class="brown">
					
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<Footer />
</body>

</html>
